# Database
DATABASE_URL=postgresql://postgres:PASSWORD_ANDA@host.docker.internal:5432/cloudapp

# JWT
SECRET_KEY=ganti-dengan-random-string-panjang-minimal-32-karakter
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# INITIAL SUPERADMIN (MUST CHANGE PASSWORD LATER)
SUPERADMIN_EMAIL=superadmin@admin.com
SUPERADMIN_PASSWORD=S4nd1B4ruYgKuat123!

# SMTP EMAIL CONFIGURATION (Hostinger Config)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USER=no-reply@salut-utsamarinda.com
SMTP_PASSWORD=tulis-password-email-disini
MAIL_FROM=no-reply@salut-utsamarinda.com
MAIL_FROM_NAME=Antick Async IT Support