Berikut hasil dokumentasikan 10 test case

---

## 1. Cek status API 

API berhasil terhubung dengan status connected
![Foto hasil endpoint](images//week3/TestCase_1.png)

---
## 2. Verifikasi Data dari Modul 2
Data item dari modul 2 berhasil muncul pada daftar item 
![Foto hasil endpoint](images//week3/TestCase_2.png)

---
## 3. Menambahkan Item Baru 
Item beru berhasil ditambahkan 
![Foto hasil endpoint](images//week3/TestCase_3.png)

---
## 4.  Verifikasi Hasil Penambahan Item 
Item baru yang ditambahkan berhasil muncul pada daftar item 
![Foto hasil endpoint](images//week3/TestCase_4.png)

---
## 5. Fitur Edit Item 
Form edit otomatis terisi dengan data lama dari item 
![Foto hasil endpoint](images//week3/TestCase_5.png)

---
## 6. Update Data Lama 
Perubahan data berhasil 
![Foto hasil endpoint](images//week3/TestCase_6.png)

---
## 7. Mencari Item menggunakan Search Bar
Sistem berhasil menampilkan item yang sesuai dengan kata kunci pencarian 
![Foto hasil endpoint](images//week3/TestCase_7.png)

---
## 8. Menghapus Item 
Dialog konfirmasi penghapus muncul setelah tombol delete 
![Foto hasil endpoint](images//week3/TestCase_8.png)

---
## 9. Verifikasi penghapusan item 
Item berhasil dihapus dari daftar
![Foto hasil endpoint](images//week3/TestCase_9.png)

---
## 10. Empty State
Sistem menampilkan tampilan empty state
![Foto hasil endpoint](images//week3/TestCase_10.png)

---